* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  position: relative; }

.header, .footer {
  padding: 2rem; }

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-center-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.bold {
  font-weight: bold; }

a, .menu-button {
  font-family: myriad pro;
  color: #000;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer; }
  a:hover, .menu-button:hover {
    text-decoration: underline; }

.menu-button {
  display: none; }

.top_bar-link a, .social_link a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: #000; }

.button-active .burger-icon, .button-active .burger-icon:before, .button-active .burger-icon:after {
  background-color: black !important; }

.button-active .burger-icon {
  background-color: transparent !important; }

.button-active .burger-icon:before {
  transform: rotate(45deg);
  transform-origin: top right;
  top: 0;
  left: 0;
  width: 30px; }

.button-active .burger-icon:after {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  top: 0;
  left: 5px;
  width: 30px; }

.lang_link a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #000; }

.link-active {
  text-decoration: line-through; }

.main_link img {
  margin-bottom: 1rem;
  transition: transform .4s ease; }
  .main_link img:hover {
    transform: translateX(50px); }

.burger-icon {
  background-color: #fff;
  width: 15px;
  height: 1px;
  display: inline-block;
  position: relative;
  left: -5px; }
  .burger-icon:before {
    content: '';
    width: 15px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 3px;
    display: inline-block;
    transition: all .2s ease; }
  .burger-icon:after {
    content: '';
    width: 15px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block; }

.menu-button:hover .burger-icon:before {
  left: -3px; }

.top_bar-link, .social_link {
  display: inline-block; }

.mail_link {
  font-size: .9rem;
  text-transform: lowercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

@media (max-width: 320px) {
  html {
    font-size: 4px;
    overflow: visible; }
  .container {
    height: auto;
    display: flex;
    flex-direction: column; }
  .content {
    position: relative; }
  .main_link-img {
    height: 11rem; }
  .header {
    position: fixed;
    top: 0;
    left: 0; }
  .header_menu {
    justify-content: flex-end;
    width: 100%;
    display: flex; }
  .header_link {
    display: none; }
  .main_menu {
    overflow: hidden;
    transform: translate(0, -100%);
    width: 100%; }
    .main_menu-active {
      transform: translate(0, 0); }
  .main_link {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
  .header_nav {
    position: relative;
    z-index: 900;
    width: 50px;
    float: right; }
  .main-active {
    transform: translateX(0); }
  .ovhide {
    overflow: hidden; }
  .top_bar-link a, .social_link a {
    font-size: 5rem; }
  .top_bar-link {
    margin-right: 2rem; }
  .header_logo {
    display: none; }
  .menu_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .top-bar-lang {
    margin-top: 2rem; }
  .lang_link a {
    font-size: 3.5rem; }
  .menu-button {
    position: relative;
    top: 25px;
    font-size: 8rem;
    z-index: 800; }
  .button-active {
    color: #000;
    padding: 0; }
  .side_title-right, .side_title-left {
    display: none; }
  .menu_footer {
    width: 100%; }
  .social {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .footer {
    position: absolute; }
    .footer_nav {
      display: none; }
    .footer_contact {
      flex-direction: column;
      font-size: 3rem; }
    .footer_mail {
      margin-top: 2rem; }
      .footer_mail a {
        font-size: 3rem; } }

.header_link, .menu-button {
  color: #fff; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 700; }
  .header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }

.header_menu_item {
  display: inline;
  padding: 0 2rem;
  text-transform: capitalize; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%; }

.footer_contact {
  width: 100%;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.footer_nav {
  margin-bottom: 3rem;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.footer_link {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.link_separator {
  margin: 0 5px; }

.main {
  height: 100%;
  width: 100%;
  position: relative;
  transition: all .4s ease; }
  .main_menu {
    position: absolute;
    padding: 7rem 7rem 2rem 7rem;
    width: 50%;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    transform: translateX(-100%);
    z-index: 800;
    transition: all .4s ease;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column; }
    .main_menu-active {
      transform: translateX(0); }

.menu_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container {
  height: 100%;
  width: 100%; }

.main-active {
  transform: translateX(50%); }

.content {
  height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 1s ease; }
  .content_title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; }

.main_title, .side_title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 10rem;
  color: #fff;
  text-transform: capitalize;
  transition: all 1s ease; }

.side_title {
  position: absolute;
  opacity: .3; }
  .side_title-left {
    right: 85%; }
    .side_title-left a {
      font-size: 10rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  .side_title-right {
    left: 85%; }
    .side_title-right a {
      font-size: 10rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.left-title-animation {
  animation: leftTitleAnimation 4s ease .1s forwards;
  opacity: 0; }

@keyframes leftTitleAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: .3; } }

.right-title-animation {
  animation: rightTitleAnimation 4s ease .1s forwards;
  opacity: 0; }

@keyframes rightTitleAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: .3; } }

.main-title-animation {
  animation: titleAnimation 1s ease .1s forwards;
  opacity: 0;
  transform: translateX(200%); }

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateX(200%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.letter-z {
  background: url("../img/z-img.png"), #cc2b23;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.letter-e {
  background: url("../img/e-img.png"), #1c5238;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.letter-s {
  background: url("../img/s-img.png"), #95724c;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.letter-t {
  background: url("../img/t-img.png"), #7b6379;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
